/* CSS for ePortfolio Site */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #9ccfe2;
	font-family: Calibri, Optima, Arial, san-serif;
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-rows: 10% 1fr 20%;
	grid-template-columns: 20% 1fr 1fr 20%;
}

.bg {
	grid-area: 1 / 1 / 4 / 5;
	z-index: -1;
	background-image: url(images/yosemite-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.navigation {
  grid-area: nav;
  grid-area: 1 / 2 / 2 / 4;
  background-color: #4f7793;
  padding: 30px;
  width: auto;
  text-align: center;
  border: 3px solid #253946;
}

.navigation h2, a {
  color: #ffd772;
  text-decoration: none;
	transition: all .5s;
}

.navigation a:hover, a.current {
  color: #FFF;
}

main {
	grid-area: main;
	grid-area: 2 / 2 / 3 / 4;
	min-height: 500px;
	background-color: hsla(196,55%,75%,0.64);
	padding: 20px;
}

ul {
  padding: 0px 30px;
}

li {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}


/* Footer and Social Media Icons */

footer {
	grid-area: footer;
	grid-area: 3 / 2 / 4 / 4;
	align-content: flex-end;
	color: white;
	background-color: #375367;
	border: medium solid #253946;
	text-align: center;
	padding: 20px;
}

.icon {
	display: inline-block;
	background-color: #4A708B;
	border: medium outset #2F4859;
	border-radius: 10px;
	padding: 0;
	margin: 5px;
	transition: background-color .5s;
}

.icon img {
	padding: 5px 10px;
	vertical-align: middle;
}

.icon:hover {
	background-color: #6891AF;	
}

.icon:active {
	border-style: inset;
	background-color: #344F62;
}

.icon img:active {
	opacity: .5;
	transform: translate(2px, 2px);
}